.logo-header{
  padding: 15px;
  width: 100%;
  img{
    width: 120px;
  }
}
header {
  width: 100%;
  background-color:rgb(255, 255, 255) ;
  position: fixed;
  z-index: 100;
  padding: 0 0 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img{
    width: 120px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  li {
    font-family: 'Glacial Indiferent', sans-serif;
    font-weight: 400;
    font-size: 19px;
  }
}
.container-swiper {
  position: relative;
  height: 100%;
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;

  .swiper {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.logo {
  position: absolute;
  max-width: 600px;
  width: 100%;
  background-color: aliceblue;
  border-radius: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
